Repository sblask/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, vint, yamllint

.pre-commit-config.yaml:

repos:

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: ansible-lint --force-color
        language: python
        additional_dependencies:
          - ansible
          - ansible-lint
        files: ansible/[^/]+\.yml

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: local
    hooks:
      - id: vint
        name: vint
        entry: vint
        language: python
        additional_dependencies:
          - vim-vint
        files: dotfiles_shared/(.vimrc.symlink|.vimrc.d.symlink/.*\.vim)

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: yamllint --strict --config-file dotfiles_shared/.config/yamllint/config.symlink
        language: python
        additional_dependencies:
          - yamllint
        types: [file, yaml]

Configure switchbuf
  dotfiles_shared/.vimrc.d.symlink/settings.vim
Due: vint

Improve moving through quickfix and location list
  dotfiles_shared/.vimrc.d.symlink/commands.vim
Due: vint

Disable folding in diff mode
  dotfiles_shared/.vimrc.d.symlink/autocommands.vim
  dotfiles_shared/.vimrc.d.symlink/autocommands_filetype.vim
  dotfiles_shared/.vimrc.d.symlink/settings.vim
Due: vint

Switch to Neovim configuration convention
  .gitignore
  .pre-commit-config.yaml
  ansible/plugins.yml
  dotfiles_linux/.config/nvim.symlink/.gitignore
  dotfiles_linux/.config/nvim.symlink/init.vim
  dotfiles_linux/.gitignore.symlink
  dotfiles_shared/.config/nvim.symlink/.gitignore
  dotfiles_shared/.config/nvim.symlink/colors/base16-eighties-modified.vim
  dotfiles_shared/.config/nvim.symlink/init.vim
  dotfiles_shared/.config/nvim.symlink/spell/en.utf-8.add
  dotfiles_shared/.config/nvim.symlink/vim/autocommands.vim
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_skeletons.vim
  dotfiles_shared/.config/nvim.symlink/vim/commands.py
  dotfiles_shared/.config/nvim.symlink/vim/commands.vim
  dotfiles_shared/.config/nvim.symlink/vim/cursor.vim
  dotfiles_shared/.config/nvim.symlink/vim/fix-keys.vim
  dotfiles_shared/.config/nvim.symlink/vim/keybindings.vim
  dotfiles_shared/.config/nvim.symlink/vim/keybindings_move_lines.vim
  dotfiles_shared/.config/nvim.symlink/vim/keybindings_movements.vim
  dotfiles_shared/.config/nvim.symlink/vim/keybindings_plugins.vim
  dotfiles_shared/.config/nvim.symlink/vim/keybindings_splits.vim
  dotfiles_shared/.config/nvim.symlink/vim/keybindings_yank_paste.vim
  dotfiles_shared/.config/nvim.symlink/vim/lsp.vim
  dotfiles_shared/.config/nvim.symlink/vim/macros.vim
  dotfiles_shared/.config/nvim.symlink/vim/mouse.vim
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
  dotfiles_shared/.config/nvim.symlink/vim/programming_language_support.vim
  dotfiles_shared/.config/nvim.symlink/vim/settings.vim
  dotfiles_shared/.config/nvim.symlink/vim/settings_search.vim
  dotfiles_shared/.config/nvim.symlink/vim/specialized_diff.vim
  dotfiles_shared/.config/nvim.symlink/vim/test_commands.py
  dotfiles_shared/.config/nvim.symlink/vim/text_objects.vim
Due: ansible-lint, yamllint

Add ripgrep
  ansible/brew.yml
  ansible/system.yml
Due: ansible-lint, yamllint

Load Lua config files
  dotfiles_shared/.config/nvim.symlink/init.vim
  dotfiles_shared/.config/nvim.symlink/lua/lsp.lua
Due: none

Add gbrowse alias
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_git.zsh
Due: none

Bump terraform-ls
  ansible/utils.yml
Due: ansible-lint, yamllint

Switch to treesitter
  dotfiles_shared/.config/nvim.symlink/lua/treesitter.lua
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
Due: none

Keep cursor position when terraform/packer formatting
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
Due: none

Cleanup plugin configuration
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
Due: none

Disable folding for more things
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_misc.zsh
  dotfiles_shared/.gitconfig.symlink
Due: none

Better error handling for commands
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
  dotfiles_shared/.config/nvim.symlink/vim/commands.vim
Due: none

Add command to reload vim config
  dotfiles_shared/.config/nvim.symlink/vim/commands.vim
Due: none

Add JsonFix command and run it as autocmd instead of Ale fixer
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
  dotfiles_shared/.config/nvim.symlink/vim/commands.vim
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
Due: none

Add echo after BufWrite so last message is no overridden
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
Due: none

Exit vim-visual-multi on save
  dotfiles_shared/.config/nvim.symlink/vim/autocommands.vim
Due: none

Improve vim error highlighting
  dotfiles_shared/.config/nvim.symlink/vim/commands.vim
Due: none

Add treesitter textobject and commentstring plugins
  dotfiles_shared/.config/nvim.symlink/lua/treesitter.lua
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
Due: none

Add more improvements to command error handling
  dotfiles_shared/.config/nvim.symlink/vim/commands.vim
Due: none

Add silent to vim-visual-multi reset on save
  dotfiles_shared/.config/nvim.symlink/vim/autocommands.vim
Due: none

Increase Dependabot pull request limit
  .github/dependabot.yml
Due: yamllint

Make Dependabot ignore more dependencies
  .github/dependabot.yml
Due: yamllint

Add mode in ansible where missing
  ansible/completions.yml
  ansible/includes/zipped_executable.yml
  ansible/plugins.yml
  ansible/utils.yml
Due: ansible-lint, yamllint

Cleanup ansible/ansible-lint
  .ansible-lint
  ansible/plugins.yml
  ansible/setup.yml
Due: ansible-lint, yamllint

Temporarily disable var-spacing ansible-lint rule
  .ansible-lint
Due: none

Update pre-commit config
  .pre-commit-config.yaml
Due: yamllint

Set filetype for ansible-lint config
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
Due: none

Create function for jumping through lists
  dotfiles_shared/.config/nvim.symlink/vim/commands.vim
Due: none

Add treesitter-context plugin
  dotfiles_shared/.config/nvim.symlink/lua/treesitter.lua
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
Due: none

Configure treesitter context for Terraform
  dotfiles_shared/.config/nvim.symlink/lua/treesitter.lua
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
Due: none

Fix filetype for .pylintrc.symlink
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
Due: none

Add aliases for clone fetch and status
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_misc.zsh
Due: none

Cleanup pylint config
  dotfiles_shared/.pylintrc.symlink
Due: none

Fix LSP diagnostics forwarding to ALE
  dotfiles_shared/.config/nvim.symlink/lua/lsp.lua
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
Due: none

Fix Terraform commentstring
  dotfiles_shared/.config/nvim.symlink/vim/autocommands_filetype.vim
Due: none

Pick origin remote for gbrowse
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_git.zsh
Due: none

Add vim-QuickFixCurrentNumber
  dotfiles_shared/.config/nvim.symlink/vim/commands.vim
  dotfiles_shared/.config/nvim.symlink/vim/plugins.vim
Due: none

Use the right gtar
  ansible/ansible-mac.yml
Due: ansible-lint, yamllint

Use Neovim explicitly to install plugins
  ansible/plugins.yml
Due: ansible-lint, yamllint
