Repository sblask/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: vint, yamllint

.pre-commit-config.yaml:

repos:

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint

  - repo: local
    hooks:
      - id: vint
        name: Vint Vim script linting
        description: Lints all vim files
        language: system
        entry: vint
        files: dotfiles_shared/(.vimrc.symlink|.vimrc.d.symlink/.*\.vim)

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint --strict --config-file dotfiles_shared/.config/yamllint/config.symlink
        language: system
        types: [file, yaml]

Change yaml quoting rules
  .github/dependabot.yml
  ansible/includes/zipped_executable.yml
  ansible/utils.yml
  dotfiles_shared/.config/yamllint/config.symlink
Due: yamllint

Remove good names parameter for python
  dotfiles_shared/.pylintrc.symlink
Due: none

Remove no longer needed tmux focus events plugin
  dotfiles_shared/.vimrc.d.symlink/plugins.vim
Due: vint

Switch gmm to main
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_git.zsh
Due: none

Fix build status in README
  README.md
Due: none

Bump pylint version
  default_requirements.txt
Due: none

Support main branch in clone_status
  dotfiles_shared/.bin/clone_status.symlink
Due: none

Fix Python skeleton autocommand
  dotfiles_shared/.vimrc.d.symlink/autocommands_skeletons.vim
Due: vint

Add ansible-lint
  ansible/utils-python.yml
Due: yamllint

Remove polyglott disables
  dotfiles_shared/.vimrc.d.symlink/plugins.vim
Due: vint

Bump Terraform version
  ansible/utils.yml
Due: yamllint

Fix rvm installation
  ansible/utils.yml
Due: yamllint

Do not fold on vimdiff autoread
  dotfiles_shared/.vimrc.d.symlink/autocommands.vim
Due: vint

Bump tflint
  ansible/utils.yml
Due: yamllint

Add open browser plugin
  dotfiles_shared/.vimrc.d.symlink/plugins.vim
Due: vint

Add gashd alias
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_git.zsh
Due: none

Add terraform security scanners
  ansible/utils-python.yml
  ansible/utils.yml
Due: yamllint

Add dive to inspect docker images
  ansible/utils.yml
Due: yamllint

Add terraform-ls
  ansible/utils.yml
Due: yamllint

Configure LSP for Python and Terraform
  ansible/utils-python.yml
  dotfiles_shared/.vimrc.d.symlink/commands.vim
  dotfiles_shared/.vimrc.d.symlink/lsp.vim
  dotfiles_shared/.vimrc.d.symlink/plugins.vim
Due: vint, yamllint

Rename install to aptstall to keep install command
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_misc.zsh
Due: none

Split pip and wheel requirements into separate file
  dotfiles_shared/.config/zsh/config.d.symlink/auto_enable_environments.zsh
  requirements-default.txt
  requirements-essential.txt
Due: none

Remove packages no longer used after switch to LSP
  requirements-default.txt
Due: none

Switch to Python 3.9 for utils
  ansible/utils-python.yml
Due: yamllint

Bump tfsec
  ansible/utils.yml
Due: yamllint

Lint ansible playbooks
  .ansible-lint
  .pre-commit-config.yaml
  ansible.cfg
  ansible/completions.yml
  ansible/dotfiles.yml
  ansible/includes/zipped_executable.yml
  ansible/plugins.yml
  ansible/utils-python.yml
Due: yamllint

Let pre-commit handle vint installation
  .pre-commit-config.yaml
Due: yamllint

Add vim filetype hint for ansible files
  ansible/ansible-linux.yml
  ansible/ansible-mac.yml
  ansible/ansible-test.yml
  ansible/brew.yml
  ansible/completions.yml
  ansible/dotfiles.yml
  ansible/includes/zipped_executable.yml
  ansible/plugins.yml
  ansible/setup.yml
  ansible/system.yml
  ansible/utils-npm.yml
  ansible/utils-python.yml
  ansible/utils.yml
Due: yamllint

Fix ansible-lint config
  .ansible-lint
Due: none

Fix iskeyword for yaml files
  dotfiles_shared/.vimrc.d.symlink/autocommands_filetype.vim
Due: vint

Use ALE defaults for ansible
  dotfiles_shared/.vimrc.d.symlink/plugins.vim
Due: vint

Install python utils using requirement files
  ansible/includes/python-util.yml
  ansible/includes/requirements-ansible.txt
  ansible/includes/requirements-aws.txt
  ansible/includes/requirements-docker-compose.txt
  ansible/includes/requirements-grip.txt
  ansible/includes/requirements-httpie.txt
  ansible/includes/requirements-pre-commit.txt
  ansible/includes/requirements-pylsp.txt
  ansible/includes/requirements-sam.txt
  ansible/includes/requirements-systemdlint.txt
  ansible/includes/requirements-tldr.txt
  ansible/utils-python.yml
Due: yamllint

Fix dependabot configuration for util requirements
  .github/dependabot.yml
Due: yamllint

Add yamllint config
  .yamllint.yml
Due: yamllint

Add yamllint
  ansible/includes/requirements-yamllint.txt
  ansible/utils-python.yml
Due: yamllint

Fix tool versions for pylsp
  ansible/includes/requirements-pylsp.txt
Due: none
