Repository sblask/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, vint, yamllint

ansible-lint:
  name: ansible-lint
  entry: ansible-lint --force-color
  language: python
  additional_dependencies:
  - ansible
  - ansible-lint

vint:
  name: vint
  entry: vint
  language: python
  additional_dependencies:
  - vim-vint

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint --strict --config-file dotfiles_shared/.config/yamllint/config.symlink
  language: system

Remove duplicate pre-commit
  ansible/includes/requirements-pre-commit.txt
  ansible/utils-python.yml
Due: ansible-lint, yamllint

Bump Terraform utils
  ansible/utils.yml
Due: ansible-lint, yamllint

Auto rotate in feh
  dotfiles_shared/.bin/feh.symlink
Due: none

feh: Delete to trash and copy to Desktop with ctrl-c
  ansible/system.yml
  dotfiles_linux/.config/feh.symlink/keys
  dotfiles_linux/.config/feh.symlink/themes
Due: ansible-lint, yamllint

feh: Enable basic edits
  dotfiles_shared/.bin/feh.symlink
Due: none

Fix trash-cli installation
  ansible/system.yml
Due: ansible-lint, yamllint

Add build config
  .github/workflows/build.yml
Due: yamllint

Switch to Gitlab Actions badge
  README.md
Due: none

Improve ansible test script
  test_files/ansible.sh
Due: none

Improve requirements check
  ansible/includes/python-util.yml
Due: yamllint

Replace include with include_tasks
  ansible/utils-python.yml
  ansible/utils.yml
Due: ansible-lint, yamllint

Switch to ASDF
  ansible/ansible-linux.yml
  ansible/ansible-mac.yml
  ansible/ansible-test.yml
  ansible/asdf.yml
  ansible/includes/python-util.yml
  dotfiles_shared/.common_env.symlink
  dotfiles_shared/.config/zsh/config.d.symlink/asdf.zsh
  dotfiles_shared/.config/zsh/config.d.symlink/completions.zsh
  dotfiles_shared/.config/zsh/config.d.symlink/programming-language-environments.zsh
  test_files/ansible.sh
Due: ansible-lint, yamllint

Let dependabot ignore awscli updates
  .github/dependabot.yml
Due: yamllint

Do not trigger Github action on pull request
  .github/workflows/build.yml
Due: yamllint

Add jo tool
  ansible/brew.yml
  ansible/system.yml
Due: ansible-lint, yamllint

Remove Travis config
  .travis.yml
Due: yamllint

Remove buggy and obsolete man function
  dotfiles_shared/.config/zsh/config.d.symlink/functions.zsh
Due: none

Improve packer format
  dotfiles_shared/.vimrc.d.symlink/autocommands_filetype.vim
  dotfiles_shared/.vimrc.d.symlink/commands.vim
Due: vint

Fix build
  .ansible-lint
  .pre-commit-config.yaml
Due: yamllint

Fix ansible inventory file format
  ansible-inventory.yml
Due: yamllint

Install yamllint with pre-commit
  .pre-commit-config.yaml
  requirements.txt
Due: yamllint

Install vim-vint as global Python util
  ansible/includes/requirements-vim-vint.txt
  ansible/utils-python.yml
  requirements.txt
Due: ansible-lint, yamllint

Install pre-commit as global Python util
  .github/workflows/build.yml
  ansible/includes/requirements-pre-commit.txt
  ansible/utils-python.yml
Due: ansible-lint, yamllint

Fix Ansible install
  ansible/utils-python.yml
Due: ansible-lint, yamllint

Improve Python handling in asdf ansible
  ansible/asdf.yml
Due: ansible-lint, yamllint

Install Node with asdf
  ansible/asdf.yml
Due: ansible-lint, yamllint

Install docker manually instead of brew
  ansible/brew.yml
Due: ansible-lint, yamllint

Cleanup build action
  .github/workflows/build.yml
Due: yamllint

Merge Python and Node installation using loops
  ansible/asdf.yml
Due: ansible-lint, yamllint

Install only used collections instead of all of Ansible
  .github/workflows/build.yml
  .pre-commit-config.yaml
  ansible/utils-python.yml
Due: ansible-lint, yamllint

Add boto333 stubs
  ansible/includes/requirements-pylsp.txt
Due: none

Bump vault version
  ansible/utils.yml
Due: ansible-lint, yamllint

Add micromamba
  ansible/includes/zipped_executable.yml
  ansible/utils.yml
Due: ansible-lint, yamllint

Bump micromamba and add `conda` alias for it
  ansible/utils.yml
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_misc.zsh
Due: ansible-lint, yamllint

Simplify .venv/.conda_env handling
  dotfiles_shared/.config/zsh/config.d.symlink/auto_enable_environments.zsh
Due: none

Fix markdown formatting with gq
  dotfiles_shared/.vimrc.d.symlink/plugins.vim
Due: vint

Bump terraform version
  ansible/utils.yml
Due: ansible-lint, yamllint

Remove unused vim plugins
  dotfiles_shared/.vimrc.d.symlink/plugins.vim
Due: vint

Add grep commands plugin for vim
  dotfiles_shared/.vimrc.d.symlink/plugins.vim
Due: vint

Add gst alias
  dotfiles_shared/.config/zsh/config.d.symlink/aliases_git.zsh
Due: none

Path conditions:
  ansible-lint: any of: ansible/[^/]+\.yml
  vint: any of: dotfiles_shared/(.vimrc.symlink|.vimrc.d.symlink/.*\.vim)
  yamllint: any of: \.(yaml|yml)$
